*{margin:0; padding:0; box-sizing:border-box; font-family:Arial;}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#111;
}
.brand-logo{
  height:50px;
}

nav ul{
  display:flex;
  gap:30px;
}
nav ul li a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

/* PRODUCT GRID */
.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
  gap:20px;
  padding:40px;
}
.product{
  text-align:center;
  cursor:pointer;
  transition:.3s;
}
.product img{
  width:100%;
  border-radius:8px;
}
.product:hover{
  transform:scale(1.05);
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,.9);
  justify-content:center;
  align-items:center;
}
.modal-content{
  background:#111;
  padding:20px;
  border-radius:10px;
  color:white;
  position:relative;
}
.close{
  position:absolute;
  top:10px; right:20px;
  font-size:30px;
  cursor:pointer;
  color:#D31024;
}
footer{
  text-align:center;
  padding:20px;
  margin-top:40px;
  background:#111;
}
