/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0A0A0A;
  color: white;
}

/* INTRO */
#intro {
  width: 100vw;
  height: 100vh;
  background: url('assets/Dark Garage Lighting Background.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.drift-car {
  width: 500px;
  position: absolute;
  opacity: 0;
}

.brand-title {
  font-size: 3rem;
  color: #D31024;
  position: absolute;
  opacity: 0;
}

/* STORE */
#store {
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 120px;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.hero-car {
  width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  color: #D31024;
}

.hero-text p {
  font-size: 1.5rem;
  color: #CBA45A;
}

/* PRODUCTS */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
}

.item img {
  width: 100%;
  border-radius: 6px;
}
